# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.harma.nl
AuthUserFile /home/harmajaphthy06//pwd/.pwd1

AuthGroupFile /opt/guide/www.harma.nl/HTML/_vti_pvt/service.grp
